@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  background-color: #2B1D10;
}

/*#aplayer_bar {
  box-shadow: none;
}*/

.aplayer-list {
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 233, 233);
}
