<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Deals</a></li>
      <li><a href="#">Stores</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
  </ul>
</div>
</div>
</nav>
<div>
    <div id="thumbnail-slider">
        <div class="inner">
            <ul>
                <li>
                    <a class="thumb" href="images/1.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/2.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/3.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/4.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/5.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/6.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/7.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/8.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/9.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/10.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/11.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/2.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/3.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/4.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/5.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/6.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/7.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/8.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/9.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/10.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="images/11.jpg"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<hr>

<footer class="navbar-default navbar-fixed-bottom" style="background-color: gray;">
    <div class="container-fluid text-center">
      <div class="aplayer"
  data-player-title="Preparation"
  data-player-author="Hans Zimmer/Richard Harvey"
  data-player-url="http://devtest.qiniudn.com/Preparation.mp3"
  data-player-pic="http://devtest.qiniudn.com/Preparation.jpg"></div>
    </div>
</footer>

